extends layout

block content
  #info
    #textfield
      h2 Overordnet
      a(href="/priser") Priser kan findes på dette link
      p På aftenhold (17-20) er der mulighed for mad, der købes med madklip (10 madklip koster 100kr.).
      p Lokaliteter vil blive tilføjet når de er fastsat.
      p Der vil på alle hold være mulighed for at være med 2 gange gratis, for at se hvad vi egentlig går og laver.
      h2 Nørdenirvana Classic (Storenørd)
      p 
        u Anbefalet alder: 12+
      p
        u Tidspunkt: Tirsdag, kl. 17-20.
      p
        u Sted: 6. klasses klubben på Baunebjergskolen i Humlebæk.
      p Nørdenirvanas orginale hold er en bred vifte af nørderi.
      p Der bliver spillet kortspil, både digitale som fx Hearthstone og old school som Pokémon og Magic the Gathering.
      p Der bliver bygget alverdens sjov på den store Minecraft Nørdenirvana-server, som der også er adgang til hjemmefra.
      p Der bliver overvundet diverse monstre i vores eventyr i Dungeons & Dragons (også kendt som papirrollespil eller bordrollespil), og der bliver set det nyeste afsnit af Doctor Who, Gravity Falls samt de bedste superheltefilm, og genset Monty Python.
      p Der er plads til alle nørderier på Nørdenirvana Classic, og vi håber du vil dele din interesse med os.
      h2 Minecraft
      p
        u Anbefalet alder: Alle
      p
        u Tidspunkt: Hver lørdag mellem klokken 10 og 13.
      p
        u Sted: Humlebæk bibliotek
      p Er du allerede Minecraftekspert, eller vil du gerne være det? På Nørdenirvanas Minecrafthold arbejder alle sammen om at opbygge den vildeste server, ved at dele smarte byggetricks og idéer med hinanden.
      p Som del af Nørdenirvanas Minecrafthold, får man også adgang til den fælles minecraftserver, så aktiviteterne fortsætter derhjemme.
      p Holdet er ikke kun afgrænset til Minecraft, League of Legends eller lignende fællesspil er selvfølgelig okay.
      h2 KOMMER SNART!
      h2 Code Geeks
      p Lær at programmere hjemmesider og spil