extends layout

block content
  #info
    #textfield
      h2 
        u Kontakt Bestyrelsen
      p Formand:
      p Majbrit Bogø
      p 
        a(href='mailto:formand@noerdenirvana.dk') formand@noerdenirvana.dk
      br
      p Næstformand:
      p Rene Nørbjerg
      p 
        a(href='mailto:naestformand@noerdenirvana.dk') naestformand@noerdenirvana.dk
      br      
      p Kasserer:
      p Helene Elmgren
      p 
        a(href='mailto:kasserer@noerdenirvana.dk') kasserer@noerdenirvana.dk
      br
      p Holdleder:
      p Emil Paltorp
      p 
        a(href='mailto:holdleder@noerdenirvana.dk') holdleder@noerdenirvana.dk
      br
      p Holdassistent:
      p Benjamin Bakkelev
      p 
        a(href='mailto:holdassistent@noerdenirvana.dk') holdassistent@noerdenirvana.dk
      br
      p Suppleant:
      p Gitte Bakkelev
      p 
        a(href='mailto:suppleant@noerdenirvana.dk') suppleant@noerdenirvana.dk