extends layout

block content
  #info
    #textfield
      h2 #{subpage}
      h3 Foreningen Nørdenirvana
      i Opdaterede priser mv. godkendt på bestyrelsesmøde den 12.04.2015
      h4 Kontingent og indmeldelsesgebyr:
      p Medlemskontingent: kr. 900 pr. halvår
      p Indmeldelsesgebyr kr. 75
      p Støttemedlemsskab og sponsorater: Har du lyst at støtte foreningen, kan der tegnes et støttemedlemsskab for kr. 500/år, eller kontakt os for andre støttemuligheder. 